
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-bottom: 40px;
  flex-direction: column;
}

.container {
  width: 400px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 100%;
}

.form {
  padding: 30px;
}

.form h2 {
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 10px;
  color: #333;
  text-align: center;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  font-size: 16px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: #0070ba;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-switch {
  text-align: center;
  padding: 10px 0;
}

.form input[type="password"] {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #0056b3;
  font-weight: 500;
}

a:hover {
  color: #0070ba;
}

.btn:hover {
  background-color: #0056b3;
}

.form-switch button:focus {
  outline: none;
}

.form.register {
  display: none;
}

.logo {
  width: 200px;
  height: 200px;
}

